<!doctype html>
<html lang="en" ng-app="S">


<!-- Begin Templates -->
<script type="text/ng-template" id="views/tplChoose.html">
<div class="selection-wrapper" ng-controller="listCtrl">
    <div class="select-wrapper region" ng-class="{'active':co.region}">
        <div class="select-value" ng-click="clickList('region', $event); clickRegion()">{{currentRegion}}</div>
        <div class="select-option-wrapper" ng-if="co.region">
            <div class="select-option" ng-click="setRegion(region)" ng-repeat="region in regions">{{region}}</div>
        </div>
    </div>
    <div class="select-wrapper country" ng-if="currentCountry" ng-class="{'active':co.country}">
        <div class="select-value" ng-click="clickList('country', $event);">{{currentCountry}}</div>
        <div class="select-option-wrapper" ng-if="co.country">
            <div class="select-option" ng-click="setCountry(country)" ng-repeat="country in countries">{{country}}</div>
        </div>
    </div>
</div>
</script>

<script type="text/ng-template" id="views/tplContacts.html">
<div class="contacts-wrapper" ng-controller="contactsCtrl" click-outside>
    <div class="close" ng-click="close()">X</div>
    <div class="contact" ng-repeat="contact in contacts">
        <div class="name">{{contact.name}}</div>
        <div class="email">Write: <a href="mailto:{{contact.email}}">{{contact.email}}</a></div>
        <div class="phone">Call: <a href="callto:{{contact.phone}}">{{contact.phone}}</a></div>
    </div>
</div>
</script>
<!-- End Templates -->


<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/media.css">

<body click-anywhere="">
    <div class="main-wrapper" ui-view=""></div>

    <script src="js/vendors.js"></script>
    <script src="js/javascript.js"></script>
</body>
</html>